
@{

    ViewBag.Title = "Home Page";
}


<img id="image" class="w-50 h-50 ml-auto mr-auto w-50 d-block shadow-sm pt-lg-5" id="img1" src="~/images/home.jpg" />

<div class="mx-auto pt-5" style="width: 200px;">
    <a class="btn btn-primary" asp-controller="CRUD" asp-action="AddRecipe" role="button">Add A Recipe</a>
</div>
